# Big files
data/ch1/results/fits/dml_lasso/dml_initial/imp_2_dml_dats_2fe.rda
data/ch1/results/fits/dml_lasso/dml_initial/imp_3_dml_dats_2fe.rda
data/ch1/results/fits/dml_lasso/dml_initial/imp_2_dml_south_2fe_dats.rda
data/ch1/results/fits/dml_lasso/dml_initial/imp_3_dml_south_2fe_dats.rda
data/ch1/results/fits/dml_lasso/dml_initial/imp_2_dml_south_spat_dats.rda
data/ch1/results/fits/dml_lasso/dml_initial/imp_3_dml_south_spat_dats.rda

data/ch1/results/fits/dml_lasso/dml_final/imp_1_dml_fits_2fe.rda
data/ch1/results/fits/dml_lasso/dml_final/imp_2_dml_fits_2fe.rda
data/ch1/results/fits/dml_lasso/dml_final/imp_3_dml_fits_2fe.rda
data/ch1/results/fits/dml_lasso/dml_final/imp_2_dml_south_2fe_fits.rda
data/ch1/results/fits/dml_lasso/dml_final/imp_3_dml_south_2fe_fits.rda
data/ch1/results/fits/dml_lasso/dml_final/imp_2_dml_north_2fe_fits.rda
data/ch1/results/fits/dml_lasso/dml_final/imp_3_dml_north_2fe_fits.rda

data/ch4/mdb_speeches.feather
data/ch4/every_single_word/every_single_word.RData

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
